@hideya:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghp_...

# Also change package.json
#
# -  "name": "@h1deya/mcp-langchain-tools",
# +  "name": "@hideya/mcp-langchain-tools",
#
# +  "publishConfig": {
# +    "registry": "https://npm.pkg.github.com"
# +  },
